.sj-overlay-search {
  padding-left: 0;
  padding-right: 0;
}

.sj-search-input-holder-outer {
  background-color: #2b3137;
  height: 66px;
  padding: 14px 0px 10px 126px;
}

.sj-logo {
  background-image: url(/img/logo-flat.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 55px;
  background-size: 50px;
  float: left;
  margin-top: 9px;
  margin-left: 35px;
  position: absolute;
  z-index: 1;
}

.sj-logo:hover {
  cursor: pointer;
}

.sj-tab-active {
  color: #4285f4;
  border-bottom: 3px solid #4285f4;
}

.sj-tab {
  font-size: 14px;
}

@media (min-width: 846px) {
  .sj-tabs-container,
  .sj-result-summary,
  .sj-result-list,
  .sj-result-error {
    padding-left: 126px;
  }
}

.sj-result-list {
  max-width: 700px;
}

.sj-result-summary-text {
  font-size: 14px;
}

.sj-result-title > a {
  font-size: 18px;
  text-decoration: none;
  color: #1a0dab;
}

.sj-result-summary-autocomplete-override {
  display: inline;
  font-size: 14px;
}

.sj-result-description {
  color: #787878;
  padding-top: 4px;
}

.sj-result-url {
  display: none;
}

@media (max-width: 845px) {
  .sj-overlay .sj-pipeline-response {
    padding: 0px 10px;
  }

  .sj-overlay .sj-search-bar-input-common {
    width: calc(95vw - 18px);
    margin-left: 2.5vw;
  }

  .sj-search-input-holder-outer {
    padding: 69px 0 10px;
    height: 120px;
  }

  .sj-logo {
    margin-left: calc(50vw - 34px);
  }
}
