.sj-overlay-search {
  padding-left: 0;
  padding-right: 0;
  background-color: #2b3137;
}

.sj-pipeline-response {
  background-color: #fff;
}

.sj-search-holder-outer {
  height: 66px;
  padding: 14px 0px 10px 0px;
}

.sj-overlay .sj-search-holder-outer {
  margin-right: 64px;
  margin-left: 126px;
}

.sj-overlay .sj-tabs-container,
.sj-overlay .sj-result-summary,
.sj-overlay .sj-result-list,
.sj-overlay .sj-result-error {
  padding-left: 126px;
}

.sj-overlay .sj-logo {
  background-image: url(https://www.sajari.com/img/logo-flat.svg);
  background-repeat: no-repeat;
  float: left;
  width: 60px;
  height: 55px;
  background-size: 50px;
  margin-top: 9px;
  margin-left: 35px;
  position: absolute;
  z-index: 1;
}

.sj-logo:hover {
  cursor: pointer;
}

.sj-overlay-close:hover {
  color: #fff;
}

.sj-tab-active {
  color: #4285f4;
  border-bottom: 3px solid #4285f4;
}

.sj-tab {
  font-size: 14px;
}

.sj-result-summary-text {
  font-size: 14px;
}

.sj-result-title > a {
  font-size: 18px;
  text-decoration: none;
  color: #1a0dab;
}

.sj-result-summary-autocomplete-override {
  display: inline;
  font-size: 14px;
}

.sj-result-description {
  color: #787878;
  padding-top: 4px;
}

.sj-result-url {
  display: none;
}

@media (max-width: 845px) {
  .sj-overlay .sj-pipeline-response {
    padding: 0px 10px;
  }

  .sj-overlay .sj-search-holder-outer {
    padding: 69px 0 10px;
    height: 120px;
  }

  .sj-overlay .sj-search-holder-outer {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sj-overlay .sj-logo {
    margin-left: calc(50% - 30px);
    float: none;
  }

  .sj-overlay .sj-tabs-container,
  .sj-overlay .sj-result-summary,
  .sj-overlay .sj-result-list,
  .sj-overlay .sj-result-error {
    padding-left: 0px;
  }
}
