{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "entry",
      "targets": {
        "browsers": [
          ">0.25%",
          "ie > 9",
          "not op_mini all"
        ]
      }
    }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    ["babel-plugin-emotion", { "hoist": true }],
    "babel-plugin-idx"
  ]
}
