.sj-content-block-result {
  margin-top: 0px;
  width: 32%;
  padding: 0.5%;
  float: left;
  margin: 0 auto;
}

.sj-image {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: 100px;
}

.sj-image-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sj-content-block-result {
    width: 49%;
  }
}

@media (max-width: 480px) {
  .sj-content-block-result {
    width: 99%;
  }
}
